.btn {
  font-family: var(--font-family);
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: var(--color-bg-accent);
  border: unset;
}
