.btn {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--color-light);
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: var(--bg-accent);
  border: unset;
}
