:root {
    --primary-color:#FF6464;
    --secondary-color:#00A8CC;
    --color-light: #FFF;
    --bg-color:#EDF7FA;
    --dark-text-color: #21243D;
    --light-text-color: #8695A4;
    --font-family:'Heebo';
    --font-weight-bold: 900;
    --font-weight-semibold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 22px;
    --font-size-2xl: 26px;
    --font-size-3xl: 30px;
    --font-size-bg: 44px;
}


