.header-container {
  font-family: var(--font-family);
  background-color: var(--color-light);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 18px 12px;
}

.nav-icon-list-wrapper {
  position: relative;
}

.nav-icon {
  cursor: pointer;
}

.nav-icon-img {
  width: 30px;
  height: auto
}

.nav-toggle {
  display: none;
}

.nav-list {
  display: none;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  right: 20px;
}

.nav-toggle:checked + .nav-icon + .nav-list {
  display: flex;
}

.nav-item {
  padding: 10px 20px;
  background-color: var(--light-text-color);
  border-radius: 5px;
}

.nav-item:hover {
  background-color: var(--color-light);
  cursor: pointer;
}

.nav-link {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
  color: var(--color-dark);
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    padding: 27px 40px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
    position: static;
  }

  .nav-item {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .nav-item:hover {
    background-color: transparent;
  }

  .nav-icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 27px 84px;
    }
  }



