.hero-container {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 24px 59px;
}

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174.38px;
  margin-bottom: 34px;
}

.profile-image {
  width: 170.86px;
  height: 170.86px;
  object-fit: cover;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 13px;
  right: 5px;
  width: 170.86px;
  height: 170.86px;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: -1;
}

.hero-content {
  text-align: center;
}

.hero-heading {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  margin-bottom: 21px;
  line-height: 40px;
}

.hero-description {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  margin-bottom: 27px;
  line-height: 23.5px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 90px 70px 50px;
    gap: 30px;
  }

  .hero-image {
    width: 200px;
    height: 200px;
  }

  .profile-image {
    position: static;
    width: 200px;
    height: 200px;
  }

  .overlay {
    width: 200px;
    height: 200px;
  }

  .hero-content {
    text-align: left;
  }

  .hero-heading {
    font-size: var(--font-size-5xl);
    width: 400px;
    margin-bottom: 30px;
    line-height: 50px;
  }

  .hero-description {
    width: 390px;
    height: auto;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 130px 172px 71px;
    gap: 55px;
  }

  .hero-image {
    width: 243px;
    height: 243px;
  }

  .profile-image {
    width: 243px;
    height: 243px;
  }

  .overlay {
    width: 243px;
    height: 243px;
  }

  .hero-heading {
    font-size: var(--font-size-bg);
    width: 506px;
    margin-bottom: 35px;
    line-height: 60px;
  }

  .hero-description {
    width: 497px;
    height: auto;
    margin-bottom: 33px;
  }
}
