.card-list {
  margin-top: 22px;
}
.card-post {
  display: flex;
  gap: 18px;
}

.card-post-image {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

.card-post-title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-3xl);
  color: var(--dark-text-color);
  margin-bottom: 16px;
}

.card-post-year {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  background-color: #142850;
  color: var(--color-light);
  padding: 0 10px 0 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-post-category {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  color: var(--light-text-color);
  margin-left: 26px;
}

.card-post-description {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  color: var(--dark-text-color);
  width: 594px;
  margin-top: 17px;
}

.card-post-divider {
  margin-bottom: 35px;
  margin-top: 31px;
  border: 1px solid #E0E0E0
}
.card-post-year:hover {
  background-color: #FF7C7C;
  transform: scale(1.03);
}
