.card-info-content {
  background-color: var(--color-light);
  width: 418px;
  height: 295px;
  padding: 24px 23px 7px 21px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px #BBE1FA40;
}

.card-info-title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-2xl);
  margin-bottom: 17px;
}

.card-info-wrapper {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  margin-bottom: 21px;
}

.card-info-date {
  margin-right: 30px;
}

.card-info-divider {
  height: 21px;
  border: 1px solid #000000
}

.card-info-category {
  margin-left: 26px;
}

.card-info-category:hover {
  color: var(--light-text-color);
}

.card-info-description {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
}



