.introduction {
    display: flex;
    justify-content: space-between;
    padding: 0 148px ;
}

.content {
    width: 506px;
    height: 105px;
    color: var(--dark-text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-bg);
    line-height: 60px;
    margin: 144px 110px 0 0;
}

.text-content {
    width: 497px;
    height: 66px;
    margin-top: 38px;;
    color: var(--dark-text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    line-height: 23.5px;
}

.btn-downloadresume {
    display: inline-block;
    padding: 10px 20px 10px 21px;;
    margin-top: 38px;
    background-color: var(--primary-color);
    color: var(--color-light);
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    line-height: 29.38px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.imagine{
    position: relative;
    width: 243px;
    height: 243px;
    margin-top: 139px;
}

.circle {
    position: absolute;
    width: 243px;
    height: 243px;
    background-color: var(--bg-color);
    border-radius: 50%;
    z-index: 1;
}

.profile-image {
    width: 243px;
    height: 243px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 13px;
    left: 5px;
    z-index: 2;

}
.overlay {
    opacity: 0.7;

}
.btn-downloadresume:hover {
    background-color: #e65555;
}
