.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }

  .content {
    width: 506px;
    height: 105px;
    margin-top: 228px;
    color: var(--dark-text-color);
    font-family: 'Heebo', sans-serif;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-bg);
    line-height: 60px;
  }

  .text-content {
    width: 497px;
    height: 66px;
    margin-top: 15px;
    color: var(--dark-text-color);
    font-family: 'Heebo', sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    line-height: 23.5px;
  }

  .btn-downloadresume {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FF6464;
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    line-height: 29.38px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-downloadresume:hover {
    background-color: #e65555;
  }
