.recent-posts-container {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    padding: 0 148px 32px 148px;
}

.recent-posts-label {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

.recent-tag {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    margin: 7px 0 2px 0;
    padding: 20px 0 17px 0;
}

.view-tag {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--font-size-sm);
    padding: 27px 0 15px 0;
}

.posts-list {
    display: flex;
    gap: 20px;
}

.post-item {
    background-color: var(--color-light);
    width: 418px;
}

.post-heading {
    font-weight: 700;
    font-size: 26px;
    margin: 24px 21px 17px 23px;
}

.time {
    border-right: solid 0.5px;
    padding-right: 20px;
    margin-left: 23px;
}

.place {
    margin-left: 20px;
}

.span-wrapper {
    margin-bottom: 11px;
}

.post-text {
    padding: 0 27px 30px 23px;
}
