* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-family);
  color: var(--dark-text-color);
}

html {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}
